#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.task-item{
    text-align: left;
}

.task-panel{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: .5rem;
}

.task-panel label{
    margin-right: 1rem;
}

ul{
    margin: .5rem;
    list-style: none;
}

.selected{
    background-color: #000;
    color: #fff;
}

